<a href="https://colab.research.google.com/github/vedikadawani/PYTHONNN/blob/main/VEDIKA_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
result = 5 + 4 * 9 % (3 + 1) / 6 - 1
print(result)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
num= int(input("Enter any number to test whether it is odd or even:"))
if(num%2)==0:
  print("The number is even")
else:
    print("The given number is odd:")

Enter any number to test whether it is odd or even:45
The given number is odd:

Q3: Write a program to display the multiplication table by taking a number as input.
    [Hint : Use print statement inside of a loop]

In [3]:
num=int(input("Enter the number of which the multiplication table is to be calculated "))
print("The multiplication table of:",num)
for count in range(1,11):
    print(num,'x',count,'=',num*count)

Enter the number of which the multiplication table is to be calculated 8
The multiplication table of: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7
    but are not a multiple of 5.

Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
result=[]
for num in range(2000,3201):
    if num%7==0 and num%5!=0:
        result.append(str(num))
print(','.join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
from pickle import FALSE
data_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'JOHN', None, 7]

type_count = {}

for item in data_list:
    item_type = type(item)

    if item_type in type_count:
        type_count[item_type] += 1
    else:
        type_count[item_type] = 1

for data_type, count in type_count.items():
    print(f"{data_type.__name__}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
data_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total_sum = 0

for item in data_list:

    if isinstance(item, (int, float)):
        total_sum += item

print("Sum of numeric values:", total_sum)

Sum of numeric values: 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
data_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

string_elements = []

for item in data_list:

    if isinstance(item, str):
        string_elements.append(item)

result = '-'.join(string_elements)

print("Concatenated string:", result)

Concatenated string: Py-10-SQL-John

Q8 Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [11]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# Using a loop to get odd numbers
odd_numbers_loop = []
for number in li:
    if number % 2 != 0:
        odd_numbers_loop.append(number)

print("Odd numbers using loops:", odd_numbers_loop)

# Using list comprehension to get odd numbers
odd_numbers_comprehension = [number for number in li if number % 2 != 0]

print("Odd numbers using list comprehension:", odd_numbers_comprehension)

# Using lambda function with filter to get odd numbers
odd_numbers_filter = list(filter(lambda x: x % 2 != 0, li))

print("Odd numbers using lambda and filter:", odd_numbers_filter)

Odd numbers using loops: [5, 7, 97, 77, 23, 73, 61]
Odd numbers using list comprehension: [5, 7, 97, 77, 23, 73, 61]
Odd numbers using lambda and filter: [5, 7, 97, 77, 23, 73, 61]

9: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows :

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [34]:
        if radius is not None:
            if isinstance(radius, (int, float)) and radius >= 0:
                return 3.14159 * radius ** 2  # Using π ≈ 3.14159
            else:
                return "Radius must be a non-negative number."
        else:
            return "Please enter 'radius' for a circle."

    else:
        return "Shape not recognized. Please use 'square', 'rectangle', or 'circle'."def calculate_area(shape, **kwargs):
    if shape == "square":
        side = kwargs.get("side")
        if side is not None:
            if isinstance(side, (int, float)) and side >= 0:
                return side ** 2
            else:
                return "Side must be a non-negative number."
        else:
            return "Please enter 'side' for a square."

    elif shape == "rectangle":
        length = kwargs.get("length")
        width = kwargs.get("width")
        if length is not None and width is not None:
            if (isinstance(length, (int, float)) and length >= 0) and \
               (isinstance(width, (int, float)) and width >= 0):
                return length * width
            else:
                return "Length and width must be non-negative numbers."
        else:
            return "Please enter 'length' and 'width' for a rectangle."

    elif shape == "circle":
        radius = kwargs.get("radius")

SyntaxError: invalid syntax (<ipython-input-34-15f57efd2e28>, line 9)

Q10 write a UDF to check if a number is prime or not.

In [32]:
def is_prime(n):
    """Check if a number is prime."""
    if n <= 1:
        return False
    if n <= 3:
        return True

    if n % 2 == 0 or n % 3 == 0:
        return False

    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6

    return True

Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [33]:
def reverse_string(input_string):
    """Return the reversed version of the input string."""
    return input_string[::-1]

user_input = input("Enter a string: ")

reversed_string = reverse_string(user_input)
print("Reversed string:", reversed_string)

Enter a string: 5
Reversed string: 5